h1 {
    margin-top: 2px;
}

#nav-list {
    background-color:floralwhite
}

#nav-list li {   
    border: 1px solid black;  
}

#main-content {   
    min-height: 2000px;
    margin-left: 20px;
    margin-right: 20px;
}

#main-content div {   
    background-color:darkgrey;  
}